@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;1,300&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
  }
  
  ol, ul {
    list-style: none;
  }

  a{
      text-decoration: none;
      color: #E5E7EB;
      font-size: 18px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* Minimal Browser Reset */

  /* Hero Section */

#container{
    margin: auto;
    min-width: 1200px;
    /* fixed my div issue! */
}

.hero{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.hero-nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin:10px 0 80px 0;
    width: 1000px;
}

.hero-links{
    display: flex;
    gap: 20px;
}

.logo{
    color:#F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.hero-content{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 1000px;
    height: 210px;
    margin-bottom: 80px;
}

.main-text{
    padding-right: 50px;
}

h1{
    font-size: 48px;
    font-weight: 900;
}

h2{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
}

.signup-button{
    color:#F9FAF8;
    background-color: rgba(238, 238, 238, 0.219);
    padding:5px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    transition: .3s;
}

.signup-button:hover{
    background-color: #3883f6;
    cursor: pointer;
    transform: scale(1.2);
}

.image-placeholder {
    background-color: rgba(238, 238, 238, 0.219);
    display: flex;
    height: 100%;
    width: 700px;
}

.image-placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}

/* End Hero Section */

/* Begin info panel */
.info-panel{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.info-title{
    text-align: center;
    margin: 20px 0;
    font-size: 36px;
    font-weight: 600;
    color:#1F2937
}

.info-boxes{
    display: flex;
    flex-flow: row nowrap;
    gap: 70px;
    justify-content: center;
}

.box-container{
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
    text-align: center;
    margin-bottom: 80px;
}

.box{
    height:200px;
    width: 200px;
    border: 3px solid #3883f6;
    border-radius: 10px;
}
/* End info panel */

/* Begin qoute panel */
.qoute-panel{
    display: flex;
    flex-flow: column nowrap;
    background-color: #E5E7EB;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.qoute-container{
    display: flex;
    width:1000px;
    flex-flow: column nowrap;
}

.qoute{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-sign{
    font-size: 20px;
    align-self: flex-end;
    font-weight: 900;
}

/* End qoute section */

/* Begin call to action */
.cta-panel{
    display: flex;
    flex-flow: column nowrap;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.cta-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #F9FAF8;
    background-color: #3883f6;
    width: 1000px;
    height: 120px;
    padding: 10px;
    border-radius:10px;
}

.cta-button{
    border:2px solid #F9FAF8;
    border-radius: 4px;
    outline: none;
    padding:5px 20px;
    background-color: transparent;
    color: #F9FAF8;
    transition: .3s;
}

.cta-button:hover{
    background-color: #F9FAF8;
    color: #3883f6;
    cursor: pointer;
    transform: scale(1.2);
}

.cta-text p:first-child{
    font-size: 22px;
    font-weight: 900;
}

/* End call to action */

/* Footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
    height: 80px;
}